@import './base.css';

#app {
  margin: 0 auto;
  font-weight: normal;
  width: 100%;
  height: 100%;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

.aside-bar-container {
  width: var(--hk-nav-width);
  display: inline;
  float: left;
  height: 100vh;
}
.app-layout__content {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.aside-bar {
  display: flex;
  flex-direction: row;
  width: var(--hk-nav-width);
  border-right: var(--color-border) solid 1px;
}


.aside-bar .sub-menu {
  padding: 5rem 4px;
  display: flex;
  flex-direction: column;
}
