@import './base.css';
#app {
  margin: 0 auto;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

.aside-bar-container {
  width: var(--hk-nav-width);
  display: inline;
  float: left;
  height: 100vh;
  border-right: var(--color-border) solid 1px;
}
.app-layout__content {
  width: calc(100% - var(--hk-nav-width));
  display: inline;
  float: left;
}
